@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #f8fafc;
}

.game-shadow {
  box-shadow: 0 0 50px rgba(220, 38, 38, 0.2);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #dc2626;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ef4444;
}

